body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 3em;
  padding: none;
  height: 100%;
  width: 100%;
  background-image: url("../images/mountain-field.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.letterbox {
  height: 40px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.letterbox-footer {
  height: 40px;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
}

.player-group-wrap {
  display: flex;
  justify-content: center;
}

.cardTitle {
  font-weight: 700;
  color: black;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 10px 0;
  text-align: center;
  min-width: 500px;
  font-weight: 400;
}

.game-container {
  padding: none;
}

/*
  Section styles
 */
.card {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.battleCardWrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 30px;
  position: relative;
}

.battleCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  font-size: 1.5em;
  color: black;
  text-align: center;
  background: url(../images/paper.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 40px 0 40px;
}

.playerCard {
  right: 600%;
}

.monsterCard {
  left: 600%;
}


.playerName {
  margin-top: 1.15em;
}

.playerHealth {
  margin-bottom: 1.35em;
}

.monsterName {
  margin-top: 1.15em;
}

.monsterHealth {
  margin-bottom: 1.35em;
}

.vs-wrap {
  align-self: center;
}

.vs {
  color: black;
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(15,15,15,0.15),
    0px 24px 2px rgba(15,15,15,0.1),
    0px 34px 30px rgba(15,15,15,0.1);
  font-size: 3em;
  text-align: center;
}

.attack-btn {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
}



/*
  Button styles
 */
.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
  border: 1px solid black;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
  border: 1px solid black;
}

.btn--blue {
  border: 1px solid black;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border: 1px solid black;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}


/*weapons card layout*/

.weaponsCard {
  display: flex;
  justify-content: space-between;
}

.win-finale-card{
  background-image: url("../images/victory-sword.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lost-finale-card{
  background-image: url("../images/skulls.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tie-finale-card{
  background-image: url("../images/police.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.finale-card-win-header{
  color:white;
  background-color: rgba(0,0,0, 0.7):
}
.finale-card-lose-header{
  color:black;
  background-color: rgba(235,5,5, 0.7);
}
.finale-card-tie-header{
  color:white;
  background-color: rgba(0,0,0, 0.7);
}
